@{
    ViewBag.Title = "Home Page";
}

<h2>Dota 2 Helper</h2>

<h3>Блокировка способностей предметами Black King Bar и Linken's Sphere</h3>

<p>
    Узнайте, какие способности героев блокируются (или не блокируются) неуязвимостью к заклинаниям, которую дают предметы Black King Bar и Linken's Sphere.
</p>
<p>
    Для начала выберите героев, для которых вы хотите узнать, какие их способности блокируются Black King Bar и Linken's Sphere. 
    В поле "СОЮЗНИКИ" также можно посмотреть, какие способности проходят сквозь невосприимчивость к заклинаниям.
</p>
<p>
    Результат можно посмотреть по одному из предметов, т.е. какие способности блокируются/не блокируются одним из предметов 
    (кнопка "Посмотреть" под одним из столбцов - "Блокируется/Проходит через Black King Bar" или "Блокируется/Проходит через Linken's Sphere"), 
    можно посмотреть результат для всех выбранных вражеских или союзных героев по обоим предметам (кнопка "Посмотреть всех противников/союзников" соответственно) 
    или посмотреть результат по обоим предметам и для противников, и для союзников (кнопка "Посмотреть всё" внизу страницы)
</p>