body {
    background-image: url("Images/bg.png");
    background-repeat: repeat;
    /*color: #d0cddd; - посерее*/
    /*color: #c9c3dd; - более фиолетовый*/
    /*color: #f1f0f5; - почти белый*/
    color: #f4cb0e;
    font-family:sans-serif;
    margin-left: 80px;
}

h2 {
    color: #f4cb0e;
    text-align: right;
}

h3 {
    /*color: #e1e0e7; - бледный сиреневато-серый (ближе к серому)*/
    color: #f4cb0e;
}

.main-subtitle {
    margin-left: 20px;
}

p {
    color: #cac8dd;
    text-align: justify;
    line-height: 25px;
}

table {
    width:80%;
    font-family: Sylfaen;
    font-size: 17px;
}

/*th {
    border-right: 5px solid;
    border-image: url("Images/separate_line.png") 30 round round;
}*/

td{
    padding: 4px;
}

.dl-horizontal {
    padding: 0;
    background-image: url(/Content/Images/horizontal_line.png);
    background-repeat:round;
    height:1px;
}

.separator-vert {
    background-image: url(/Content/Images/separate_line.png);
    background-repeat:round;
    width:3px;
}

.button {
  padding: 0;
  text-indent: -9999px; 
  line-height: 0; 
  border: 0; 
  background-repeat: round; 
  
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
} 

.button:active,
.button:focus {
  outline: 0;
}

.button:active {
  text-indent: -9999px; 
  line-height: 0; 
  border: 0; 
  background-repeat: round;
}

.resultOne {
    background-image: url(/Content/Images/Result_one_button.png);
    width: 90px;
    height: 26px;
}

.resultOne:active {
    background-image: url(/Content/Images/Result_one_button_pressed_lighter.png);
}

.resultAll {
    background-image: url("/Content/Images/Result_all_button.png");
    width: 140px;
    height: 30px;
}

.resultAll:active {
    background-image: url("/Content/Images/Result_all_button_pressed_lighter.png");
}

.resultAllAllies {
    background-image: url("/Content/Images/Result_all_allies_button.png");
    width: 200px;
    height: 30px;
}

.resultAllAllies:active {
    background-image: url("/Content/Images/Result_all_allies_button_pressed.png");
}

.resultAllEnemies {
    background-image: url("/Content/Images/Result_all_enemies_button.png");
    width: 240px;
    height: 30px;
}

.resultAllEnemies:active {
    background-image: url("/Content/Images/Result_all_enemies_button_pressed.png");
}

/*иконка частично блокируемого скила (прозрачность)*/
.partly-block-icon {
    opacity: 0.5;
}

/*подложка под иконку скила*/
.substrate {
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #757373;
}

/*убирается подложка (для скилов, блокирующихся полностью)*/
.no-substrate {
    display: none;
}

/*класс .substrate имеют все div-подложки, 
а тем div, которые не отображаются, дополнительно задаётся класс .no-substrate*/

.icon-with-hint {
    position: relative;
}

/*класс для комментария, всплывающего при наведении мышкой на картинку скила*/
.pop-comment {
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    width: 300px;
    min-height: 38px;
    color: #ffffff;
    font-family:sans-serif;
    background-color: #000000;
    padding: 8px 14px;
    opacity:0;
    border: 1px solid #f4cb0e;
    border-radius: 5px;
    cursor:default;
}

.pop-comment:hover {
    display: block;
    top: 25px;
    left: 25px;
    opacity: 0.7;
}